/*Size*/
.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 2rem;
}
/*Colors*/
.otopadding{
    padding-top: 30px;
}
.otopadding2{
    padding-top: 90px;
}
.bg-font-blue{

    background-color: #4b83a6;
   
}

.bg-font-lgblue{
    background-color: #4DA5DB;
    
}

.opensans{
    font-family: "Open Sans" , sans-serif;  
}
.bg-font-lggray{
    background-color: #8a8089;
    
}
.bg-font-gray{
    background:#8a8080 ;
}

.bg-back-purple{
    background: rgb(36, 36, 36);
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.sehrimimg{
    max-width: 285px;
    max-height: 200px;
    border-radius: 8px;
    padding: 0;
    border: 1px solid black;
}

.usttemargin{
    margin-top: 5rem;
}

.yazibelirgin{
    color: black;
    border-radius: 8px;
    border:1px solid black;
    text-align: center;
    display: inline;
    background-color: #f2f2f2;
    opacity: 70%;
}

.cerceve{
    border:1px solid black;
    border-radius: 10px;
    max-width: 50%;
    max-height: 40%;
}

.ortala{
    display: flex;
    align-items: center;
    justify-content: center;
}

.usttemargink{
    margin-top: 2.5rem;
}

.yazideis{
    color: #f2f2f2;
    
}

.bg-font-krem{
    background-color: #FAEBD7;
}
.button-bg{
    /*#04AA6D*/
    background-color: #04AA6D;
    color: white;
}
.bg-font-f2{
    background-color: #f2f2f2;
}
.button-bg:hover{
    background-color:white;
    color: #059862;
}
.solmargin{
    margin-left: 42%;
}