.resimboyut{
    max-width: 800px;
    max-height: 600px;
    
}

.baslik{
    text-align: center;
    color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
    
   
}

.kumbet{
    border:1px solid black;
    border-radius: 10px;
}
.kumbet2{
    border:1px solid black;
    border-radius: 10px;
    max-width: 100%;
    max-height: 80%;
}