.altmarginsil{
    margin-bottom: 0;
}

.ustmarginsil{
    margin-top: 3.8%;
}

.iletisimbox{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;

    background-color: #f2f2f2;
}

.giris{

    width: 100%;
    height: 33.75rem;
    background-image: url("Kayseri.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: #28242c;
}